.section_proyects {
    display: flex;
    margin: 32px 32px ;
    width: 100vw;
    height: 430px;
}
.section_proyects img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .7s ease;

}

.section_proyects img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}